body {
    background-color: black;
}
.game {
    width: 351px;
    height: 700px;
    background-color: blue;
    margin-left: 0;
    margin-right: 0;
    box-sizing: content-box;
    border: 5px solid paleturquoise;
}
.hold {
    width: 100px;
    height: 100px;
    background-color: steelblue;
    border: 5px solid paleturquoise;
    border-right: 0;
}
.next {
    width: 100px;
    height: 400px;
    background-color: darkblue;
    border: 5px solid paleturquoise;
    border-left: 0;
}
.lines {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 5px solid paleturquoise;
    border-left: 0;
    text-align: center;
    vertical-align: center;
}
.left-space {
    width: calc(50% - (569px / 2));
}
.right-space {
    width: calc(50% - (569px / 2));
}
.text {
    text-align: center;
    background-color: paleturquoise;
    margin: 0;
}
.cell {
    width: 35px;
    height: 35px;
    border: 1px solid dimgray;
}
.nextcell {
    width: 20px;
    height: 20px;
    border: 1px solid dimgray;
}
.nextedgecell {
    width: 7px;
    border: 1px solid dimgray;
}